.children-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza na horizontal */
    margin-top: 40px;
}

.children-list > div {
    width: 1000px;
    display: flex; /* Alinha itens dentro da div filha */
    align-items: center; /* Alinha itens verticalmente */
    justify-content: center; /* Espaço entre os itens */
}

.children {
    display: flex;
    align-items: center;
    gap: 100px;
    border: 2px solid #ccc; /* Borda sólida */
    width: 800px;
    padding: 15px; /* Espaçamento interno */
    border-radius: 20px; /* Bordas arredondadas */
    margin-bottom: 20px; /* Espaçamento entre as divs */

}

.children-list button {
    background-color: transparent;
    color: #A60D25;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 100px;
}

.children > img {
    width: 40px;
    height: 40px;
}
