
.main-head {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    background-color: #A60D25;
}

.option-nav-bar {
    display: flex;
    width: 20%;
    gap: 15%;
}

.linkText{
    color: #fff;
    font-size: 20px;
}

.logo {
    height: 60px;
    margin: 30px;
}

a {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Adjust the thickness of the underline as needed */
    bottom: 0;
    left: 0;
    background-color: #FFFFFF; /* Change to the desired underline color */
    visibility: hidden;
    transform: scaleX(0);
    transition: visibility 0s, transform 0.3s ease;
}

a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}


.main-head svg, p{
    cursor: pointer;
}

.main-head svg {
    margin: 0 3rem;
}