* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App {
    background: white;
    height: 100vh;
    overflow-y: auto; /* Adicione rolagem vertical conforme necessário */
  }
  
  