.ContainerItem{
    width: 100%;
    margin-bottom: 10px;
}

.headerItem{
    height: 40px;
    background-color: rgb(220, 220, 220);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.ContentItem {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;

}


.headerItemText{
    text-align: center;
    font-size: 20px;
    padding-top: 12px;
    color: #111;
}

.Block{
    height: 60px;
    width: 92px;
    background-color: rgb(0, 174, 255);
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}

.TextBlock{
    text-align: center;
    font-size: 17px;
}

.showItem.visible {
    display: grid;
}

.InputBlock{
    height: 60px;
    width: 92px;
    color: #fff;
    margin-bottom: 15px;
    margin: 2px solid black;
}