.children-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza na horizontal */
    margin-top: 40px;
}

.children-list > div {
    margin-bottom: 10px; /* Espaçamento entre as divs */
    margin-bottom: 20px; /* Espaçamento entre as divs */
    border-radius: 20px; /* Bordas arredondadas */
    border: 2px solid #ccc; /* Borda sólida */
    padding: 15px; /* Espaçamento interno */
    width: 1000px;
    display: flex; /* Alinha itens dentro da div filha */
    align-items: center; /* Alinha itens verticalmente */
    justify-content: space-between; /* Espaço entre os itens */
}

.children1, .children2, .children3, .children4 {
    display: flex;
    align-items: center;
}

button {
    background-color: transparent;
    color: #A60D25;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-weight: 500;
}

.children1 > img {
    width: 40px;
    height: 40px;
}

.children2 > img {
    width: 40px;
    height: 40px;
}

.children3 > img {
    width: 40px;
    height: 40px;
}

.children4 > img {
    width: 40px;
    height: 40px;
}