.Container {
    margin: 0;
    padding: 0 20px;
    height: 100%;
}

.ContentContainer{
    display: flex;
    gap: 30px;
}
.IconContainer{
    height: 20px;
    padding: 20px 0 0 0;
}
.Icon{
    font-size: 50px;
}
.Sidebar {
    height: 70vh;
    width: 25vw;
    margin-top: 60px;
    background-color: #F5F5F5;
    border-radius: 20px 20px 0 0;
}

.TitleSidebar {
    background-color: #a60d25;
    width: 100%;
    height: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px 20px 0 0;
}

.TextSidebar {
    color: #fff;
    text-align: center;
    font-family: arial;
    padding-top: 13px;
}

.Content {
    display: flex;
    height: 100%;
    overflow-y: auto;
}



.ContentRight {
    background-color: #777;
    width: 100%;
    height: 100%;
}


.Navbar {
    width: 75vw;
    height: 90px;
    display: flex;
    flex-direction: column;
}

.TopNavbar {
    height: 60%;
    width: 100%;
}

.TopNavbar p {
    color: #111;
    text-align: end;
    margin-right: 10px;
}

.BottomNavbar {
    height: 40%;
    width: 100%;
    padding: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavbarBtn {
    background-color: #a60d25;
    color: #fff;
    border-radius: 30px;
    height: 30px;
    width: 60px;
    border: none;
    margin-left: 10px;
}

.NavbarBtn:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

.MainContent{
    height: 70vh;
    width: 100%;
    background-color: #fff;
}

.CodeType{
    height: 100%;
    width: 100%;
    background-color: #1c72a4;
    margin: 0 auto 20px auto;
    padding: 0px 0 15px 15px;
    border-radius: 10px;
}
.CodeTypeText{
    padding: 10px 0;
    color: white;
}
.Code{
    width: 100%;
    height: 85%;
    background-color: #ffffff;
    margin: 0 auto 20px auto;
    display: flex;
}

.BlockInserted{
    height: 70px;
    width: 92px;
    background-color: rgb(0, 174, 255);
    border: 2px solid #111;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.TextBlock{
    text-align: center;
    font-size: 15px;
    padding: auto;
}



.CreatedBlock{
    color: #fff;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    height: 90px;
    padding: 2px 10px;
}

.buttonContent{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CreatedBlock button{
    width: 20px;
    margin-left: auto;
}

.buttonContent input{
    display: none;
}

.TextBlock{
    text-align: center;
    font-size: 17px;
}

.showItem.visible {
    display: grid;
}

.BlockGamesCreated{
    background-color: rgb(255, 106, 0);
    width: 200px;
}

.BlockConditionalCreated{
    background-color: rgb(255, 191, 0);
    display: flex;
    align-items: center;
    padding: 0 3px;
}

.BlockConditionalCreated p{
    margin: auto;
}

.BlockConditionalEntaoCreated{
    background-color: rgb(255, 191, 0);
    margin-left: 67px;
    display: flex;
    align-items: center;
    padding: 0 3px;
}

.BlockResponsesCreated{
    background-color: rgb(30, 211, 39);
}

.BlockCarpetCreated{
    background-color: rgb(189, 25, 244);
    display: flex;
    align-items: center;
    width: 190px;
}
.BlockCarpetCreated .buttonContent input{
    display: flex;
    height: 50px;
    margin: auto 10px;
}

.BlockFileCreated{
    background-color: rgb(142, 142, 142);
}

.BlockMessagesCreated{
    background-color: rgb(255, 0, 0);
}



.BlockGames{
    background-color: rgb(255, 106, 0);
}

.BlockConditional{
    background-color: rgb(255, 191, 0);
}

.BlockConditionalEntao{
    background-color: rgb(255, 191, 0);
}

.BlockResponses{
    background-color: rgb(30, 211, 39);
}

.BlockCarpet{
    background-color: rgb(189, 25, 244);
}

.BlockFile{
    background-color: rgb(142, 142, 142);
}

.BlockMessages{
    background-color: rgb(255, 0, 0);
}